*{
    font-family: quicksand, montserrat,'Open Sans';
    box-sizing: border-box;
    margin: 0;
    padding: 0; 
}

abbr{
    text-decoration: none;
}

a{
    text-decoration: none;
    color: #fff;
}

a:hover{
    color: #ad640a;
}

li{
    list-style: none;
}

p{
    color: #024059;
}

/* HEADER */

header{
    padding: 18px 180px;
    background-color: #024059;
}

h1{
    color: #fff;
}

header a{
    text-decoration: none;
    display: block;
    padding: 10px;
}

nav div{
    display: flex;
    align-items: center;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
}

nav > ul{
    display: flex;
    justify-content: flex-end;
}

nav ul li {
    padding: 15px 20px 15px 20px;
}

/* -----------MAIN ---------------*/
h2{
    text-align: center;
    font-size: 40px;
  }

iframe{
    margin: 30px 0 50px 220px;
}

h2:first-of-type{
    margin-bottom: 20px;
}


h2, h3, h4{
    color: #ad640a;
    text-align: center;
}

/* --------- Actividades --------*/

#playas + p, #hollywood + p, 
#parques + p, #getty + p, #observatorio + p{
    width: 40%;
    padding-bottom: 400px;
}

#hollywood, #playas, #parques,
#getty, #observatorio{
    margin-bottom: 30px;
}

#actividades + p{
    margin-bottom: 50px;
}
/*
section:first-of-type div:nth-of-type(2){
    background-image: url(/imagenes/playaLAOpt.jpg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 75px;
}

section:first-of-type div:nth-of-type(4){
    background-image: url(/imagenes/universalStudioOptimizado.jpg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 80px;
}

section:first-of-type div:nth-of-type(6){
    background-image: url(/imagenes/observatorioGriffithOpt.jpg);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: 80px;
}*/
#clima{
    width: 65%;
    height: 600px;
    margin: auto;
    background-image: url(/imagenes/climaOpt.jpg);
    background-repeat: no-repeat;
    background-position-x: 750px;
    background-position-y: 70px;
}
section:first-of-type{
    width: 65%;
    margin: auto;
    margin-top: 50px;
}


section:nth-of-type(2) > p{
    padding-bottom: 25px;
}

#clima > h2 + p, #clima > h2 + p + p{
    width: 40%;
    padding-left: 100px;
}

/* --------GASTRONOMIA --------*/

#gastronomia + p{
    width: 70%;
    margin: auto;
}

#divColumnas{
    display: flex;
    justify-content: space-evenly;
}

#divColumnas div{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-content: space-around;
}

#divColumnas div p{
    width: 300px;
}

section:nth-of-type(3) > p{
    width: 65%;
    margin: auto;
}

.divcont{
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
}
}
.divcont p{
    margin: auto;
} 
.divhijo{
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 50px;
}

h3{
    font-size: 35px;
}

/*-----------NOTICIAS---------*/

article{
   margin: auto;
   display: flex;
}

main h1{
    color: #ad640a;
    font-size: 30px
}

/* FOOTER */

footer{
    margin-top: 150px;
    background-color: #024059;
    color: #fff;
}

footer ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: space-around;
    justify-content: space-around; 
    
}





















